.searchBarFocus {
    border: 1px solid rgb(118 185 0) !important 
}



.searchBar {
    border: 1px solid #eee4e4;
    height: 55% !important;
}
.searchIcon {
    color: rgb(118 185 0);
}



/* input {
    width: 400px;
} */

.loginBtn {
    width: 150px;
    background: black;
    color: white;
}
.lastLogo {
    background: #ff410052;
    padding: 5px;
    margin-left: 5px;
}

.fmWuAV{
    border-radius: 5px;
    border: none;
    height: 35px;
}
