<div class="container mt-2">
    <div class="row">
        <div class="col-11 col-xs-6 col-sm-6 col-md-4 col-lg-2">
            <img src="./../../assets/logo.avif" style="width: -webkit-fill-available; height: 60px; " class="b-r-5" />
        </div>
        <div class="col-11 col-xs-6 col-sm-6 col-md-8 col-lg-5 d-flex align-items-center">
            <div class="p-2 col-12  align-content-center searchBar" [ngClass]="{'searchBarFocus' : typValue}">
                <i class="fa-solid fa-magnifying-glass pr-15 searchIcon"></i>
                <input style="width: -webkit-fill-available;" class="border-0 " [(ngModel)]="typValue" style="outline: none;"
                    placeholder="Search items..." />
            </div>
        </div>
        <div class="col-11 col-xs-6 col-sm-6 col-md-4 col-lg-3 d-flex align-items-center">
            <div class="flex w-full b-r-5" data-headlessui-state=""><button
                    class="AddressDropdown___StyledMenuButton-sc-i4k67t-1 fmWuAV w-full"
                    id="headlessui-menu-button-:r9:" type="button" aria-haspopup="true" aria-expanded="false"
                    data-headlessui-state=""><span
                        class="Label-sc-15v1nk5-0 AddressDropdown___StyledLabel-sc-i4k67t-2 gJxZPQ ZzWRb center-align"><svg
                            width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="m10.797 13.213 1.692-.684.714-1.742-1.692.684-.714 1.742Zm5.128-3.793-1.746 4.258c-.102.25-.3.447-.55.549l-4.213 1.701a1.01 1.01 0 0 1-.374.072.998.998 0 0 1-.713-.31c-.018-.017-.037-.031-.054-.048-.009-.011-.015-.024-.023-.035a.991.991 0 0 1-.178-1.027l1.746-4.258a.998.998 0 0 1 .551-.548l4.213-1.702a1.003 1.003 0 0 1 1.1.246.996.996 0 0 1 .241 1.102ZM12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2Z"
                                fill="#231F20"></path>
                            <mask id="compass_svg__a" maskUnits="userSpaceOnUse" x="2" y="2" width="21" height="20"
                                style="mask-type: alpha;">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="m10.797 13.213 1.692-.684.714-1.742-1.692.684-.714 1.742Zm5.128-3.793-1.746 4.258c-.102.25-.3.447-.55.549l-4.213 1.701a1.01 1.01 0 0 1-.374.072.998.998 0 0 1-.713-.31c-.018-.017-.037-.031-.054-.048-.009-.011-.015-.024-.023-.035a.991.991 0 0 1-.178-1.027l1.746-4.258a.998.998 0 0 1 .551-.548l4.213-1.702a1.003 1.003 0 0 1 1.1.246.996.996 0 0 1 .241 1.102ZM12 2C6.486 2 2 6.486 2 12s4.486 10 10 10 10-4.486 10-10S17.514 2 12 2Z"
                                    fill="#fff"></path>
                            </mask>
                            <g mask="url(#compass_svg__a)">
                                <path fill="#101010" d="M0 0h24v24H0z"></path>
                            </g>
                        </svg><span
                            class="Label-sc-15v1nk5-0 gJxZPQ ml-1.5 flex-1 text-sm text-darkOnyx-900 truncate font-semibold leading-base center-align">Select
                            Location</span></span></button>
            </div>
        </div>
        <div class="col-11 col-xs-6 col-sm-6 col-md-5 col-lg-2 d-flex align-items-center">
            <div class="b-r-5 grid grid-flow-col gap-x-2.5 center-align "><button color="darkOnyx" pattern="filled"
                    class="iHDHpz loginBtn  b-r-5">Login/
                    Sign Up</button>
                <div class="px-1.5 w-9cursor-pointer rounded-2xs py-1.5  bg-rossoCorsa-50 relative lastLogo  b-r-5"><svg
                        width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="24" height="24" rx="12" fill="#D63333"></rect>
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M16.795 10.2H18.3c.385 0 .7.315.7.7 0 .385-.315.7-.7.7H5.7a.702.702 0 0 1-.7-.7c0-.385.315-.7.7-.7h1.505l.998-3.01A1.75 1.75 0 0 1 9.864 6h4.27c.752 0 1.435.473 1.662 1.19l.998 3.01ZM8.867 7.418 7.94 10.2h8.12l-.91-2.782a1.035 1.035 0 0 0-.998-.718H9.866c-.455 0-.857.28-.998.718ZM6.05 16.85V12.3h11.9v4.55c0 .962-.787 1.75-1.75 1.75H7.8c-.962 0-1.75-.788-1.75-1.75Zm3.465.367c.157 0 .297-.14.297-.314v-2.888c0-.175-.122-.315-.297-.315a.314.314 0 0 0-.315.315v2.887c0 .175.14.316.315.316Zm2.485 0c.175 0 .315-.14.315-.314v-2.888A.314.314 0 0 0 12 13.7a.314.314 0 0 0-.315.315v2.887c0 .175.14.316.315.316Zm2.485 0c.175 0 .315-.14.315-.314v-2.888a.314.314 0 0 0-.315-.315c-.157 0-.297.14-.297.315v2.887c0 .175.122.316.297.316Z"
                            fill="#fff"></path>
                        <mask id="basket_svg__a" maskUnits="userSpaceOnUse" x="5" y="6" width="14" height="13"
                            style="mask-type: alpha;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.795 10.2H18.3c.385 0 .7.315.7.7 0 .385-.315.7-.7.7H5.7a.702.702 0 0 1-.7-.7c0-.385.315-.7.7-.7h1.505l.998-3.01A1.75 1.75 0 0 1 9.864 6h4.27c.752 0 1.435.473 1.662 1.19l.998 3.01ZM8.867 7.418 7.94 10.2h8.12l-.91-2.782a1.035 1.035 0 0 0-.998-.718H9.866c-.455 0-.857.28-.998.718ZM6.05 16.85V12.3h11.9v4.55c0 .962-.787 1.75-1.75 1.75H7.8c-.962 0-1.75-.788-1.75-1.75Zm3.465.367c.157 0 .297-.14.297-.314v-2.888c0-.175-.122-.315-.297-.315a.314.314 0 0 0-.315.315v2.887c0 .175.14.316.315.316Zm2.485 0c.175 0 .315-.14.315-.314v-2.888A.314.314 0 0 0 12 13.7a.314.314 0 0 0-.315.315v2.887c0 .175.14.316.315.316Zm2.485 0c.175 0 .315-.14.315-.314v-2.888a.314.314 0 0 0-.315-.315c-.157 0-.297.14-.297.315v2.887c0 .175.122.316.297.316Z"
                                fill="#606060"></path>
                        </mask>
                        <g mask="url(#basket_svg__a)">
                            <path fill="#fff" d="M0 0h24v24H0z"></path>
                        </g>
                    </svg></div>
            </div>
        </div>
    </div>
</div>


<div class="container  mt-15">
    <div class="row">
        <div style="background: #5e9400; color: #ffffff; height: 36px;"
            class="col-xs-6 col-sm-6 col-md-3 col-lg-2 ml-3">
            <div> Shop By Category</div>&nbsp;&nbsp;&nbsp;<div>></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
            Exotic Fruit...
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-1">
            Tea
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-1">
            Ghee
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-1">
            Nandhini
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
            Fresh vegtable <i class="fa-solid fa-angles-right"></i>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-1">
            <img src="https://www.bigbasket.com/media/uploads/banner_images/Smart_basket-250124-1.png" />
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-1">
            <img src="https://www.bigbasket.com/media/uploads/banner_images/hp_cmc_m_offer_28_220921_all.png" />
        </div>
    </div>
</div>