<div style="height: 480px; position: relative;" class="w-full">
    <div style="padding-top: 40px;">
        <img [src]="img" style="width: 150px; height: 200px;" /> 
    </div>
    <div>
        <div>Fresho</div>
    </div>
    <div class="mt-15">
        {{name}} - {{index}}
    </div>
    <div class="percentage mt-15">
        {{percentage}}
    </div>
    <div class="mt-15">
        <select>
            <option>1 Kg</option>
        </select>
    </div>
    <div class="mt-15">
        <span style="font-weight: bold;">{{currentPrice}}</span>&nbsp;&nbsp;&nbsp;<span style="text-decoration: line-through;">{{originalPrice}}</span>
    </div>
    <div style="margin-top: 15px;">
        <div *ngIf="index == 0" class="OfferCommunication___StyledDiv-sc-zgmi5i-0 ewEPuR"
            style="background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(228, 241, 204) 50%); border-color: rgb(173, 213, 102); display: flex;
            align-items: center;
            justify-content: space-between;">
            <span class="Label-sc-15v1nk5-0 gJxZPQ lg:text-sm xl:text-md font-semibold pr-5 py-0.5 ml-12"
                style="color: rgb(71, 111, 0);">Har Din Sasta!</span>
            <div class="jsx-1497656626 absolute caret-position"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    fill="none" viewBox="0 0 24 24">
                    <path fill="#101010" fill-rule="evenodd"
                        d="M12 15.5a.997.997 0 01-.707-.293l-4-4a.999.999 0 111.414-1.414l3.305 3.305 3.293-3.18a1 1 0 011.39 1.439l-4 3.862A.997.997 0 0112 15.5z"
                        clip-rule="evenodd"></path>
                    <mask id="mask0_347_1708" width="11" height="7" x="6" y="9" maskUnits="userSpaceOnUse"
                        style="mask-type: luminance;">
                        <path fill="#fff" fill-rule="evenodd"
                            d="M12 15.5a.997.997 0 01-.707-.293l-4-4a.999.999 0 111.414-1.414l3.305 3.305 3.293-3.18a1 1 0 011.39 1.439l-4 3.862A.997.997 0 0112 15.5z"
                            clip-rule="evenodd"></path>
                    </mask>
                    <g mask="url(#mask0_347_1708)">
                        <path fill="#476F00" d="M0 0H24V24H0z"></path>
                    </g>
                </svg></div>
        </div>
        <div *ngIf="(index == 1 || index == 2 || index == 3)" class="b-r-5"
            style="background: linear-gradient(to right, rgba(255, 228, 205, 0.1) 0%, rgba(255, 172, 102, 0.27) 50%, rgba(255, 172, 102, 0.27) 100%); display: flex;
            align-items: center; justify-content: center; border: 1px solid #ff000061">
            <span class="Label-sc-15v1nk5-0 gJxZPQ lg:text-sm xl:text-md font-semibold pr-5 py-0.5 ml-12"
                style="color: rgb(205, 1, 1);">Get it for ₹30.88!</span>
        </div>
        <div class="d-flex mt-15">
            <div class="flag b-r-5 center-align" style="margin-right: 5px;">
                <div><i class="fa-regular fa-bookmark" style="font-size: 15px;
                    margin-right: 5px;"></i></div>
            </div>
            <div class="bottomBox b-r-5 center-align">
                Add
            </div>
        </div>
    </div>
</div>