.items-body {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
}

.items {
    width: 80%;
    margin: auto;
    
}

.product-container {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    gap: 10px;
}

.basket {
    margin-right: 5px;
    padding: 2px 10px;
    border: 1px solid rgb(204 0 0);
    background: rgb(204 0 0);
    color: white;
    width: 250px;
    height: 50px;
    font-size: 18px;
}
.saveLater {
    margin-right: 5px;
    padding: 2px 10px;
    border: 1px solid rgb(92, 88, 88);
    background: white;
    /* color: white; */
    width: 250px;
    height: 50px;
}