/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import '~@fortawesome/fontawesome-free/css/all.css';


.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-full {
    width: 100%;
}
.d-flex {
    display: flex;
}
.b-r-5 {
    border-radius: 5px !important;
}
.mt-15 {
    margin-top: 15px;
}

.addButton {
    padding: 2pxs;
    border: 1px solid red;
    width: 70%;
    text-align: center;
    color: red;
}
.addButton:hover {
    background-color: brown;
    color: white;
}

.mr-0 {
    margin-right: 0 !important;
}

.offerLabel {
    background-color: #008000;
}
.pr-15 {
    padding-right: 15px;
}